name: NBA ELT Ingestion CI / CD Pipeline

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  PYTHON_VERSION: "3.12"
  UV_VERSION: "0.10.4"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  IAM_ROLE: ${{ secrets.IAM_ROLE_ECR }}
  AWS_REGION: "us-east-1"
  ECR_REPO: ${{ secrets.ECR_REPO }}

permissions:
  id-token: write
  contents: read # This is required for actions/checkout

jobs:
  ci_pipeline:
    runs-on: ubuntu-latest
    name: Test Pipeline
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true

      - name: Install dependencies
        run: uv run python -m nltk.downloader vader_lexicon

      - name: Create and populate .coveralls.yml file
        env:
          repo_token: ${{ secrets.repo_token }}
        run: |
          touch .coveralls.yml
          echo repo_token: "$repo_token" >> .coveralls.yml
          mkdir logs
          cat > logs/example.log
        shell: bash

      - name: Run Tests
        run: make ci-test

      - name: Coveralls
        run: uv run coveralls

  cd_pipeline:
    runs-on: ubuntu-latest
    needs: ci_pipeline
    if: github.event_name == 'push' && github.ref == 'refs/heads/master' && success()
    steps:
      - uses: actions/checkout@v4

      - name: Build and Push Docker Image to ECR
        uses: jyablonski/actions/deploy@v1
        with:
          role-to-assume: ${{ env.IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
          ecr-repo: ${{ env.ECR_REPO }}
          image-name: nba_elt_pipeline_ingestion
          dockerfile: docker/Dockerfile
          context: .

  notify:
    needs: [cd_pipeline]
    if: always() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Slack Alert
        uses: jyablonski/actions/alert@v1
        with:
          status: ${{ contains(needs.*.result, 'failure') && 'failure' || 'success' }}
          webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
